@import "tailwindcss";

* {
    box-sizing: border-box;
}

:root {
    --text-color--text-primary: var(--_base-color-zinc--zinc-900);
    --text-color--text-alternate: var(--_base-color-brand--vermillion-900);
    --black: #111;
    --orange: #fc5f2b;
    --background-color--background-primary: var(--_base-color-zinc--white);
    --_base-color-zinc--zinc-100: #f4f4f5;
    --text-color--text-secondary: var(--_base-color-zinc--zinc-500);
    --radius--radius-full: 9999px;
    --_base-color-zinc--zinc-400: #a1a1aa;
    --_base-color-zinc--black: black;
    --_base-color-brand--vermillion-900: #fc5f2b;
    --_base-color-brand--vermillion-500: #fdba74;
    --radius--radius-sml: .5rem;
    --_base-color-zinc--zinc-200: #e4e4e7;
    --_base-color-zinc--zinc-700: #3f3f46;
    --radius--radius-xxs: .25rem;
    --white: #fff;
    --_base-color-brand--vermillion-700: #f7861e;
    --border-color--border-alternate: var(--_base-color-brand--vermillion-900);
    --border-color--border-primary: var(--_base-color-zinc--zinc-200);
    --_base-color-zinc--white: white;
    --background-color--background-secondary: var(--_base-color-zinc--zinc-50);
    --_base-color-zinc--zinc-800: #27272a;
    --radius--radius-med: .625rem;
    --_base-color-zinc--zinc-50: #fafafa;
    --radius--radius-none: 0px;
    --_base-color-zinc--zinc-900: #18181b;
    --text-color--text-primary-hover: var(--_base-color-zinc--zinc-700);
    --_base-color-zinc--zinc-300: #d4d4d8;
    --text-color--text-secondary-hover: var(--_base-color-zinc--zinc-400);
    --radius--radius-lrg: .75rem;
    --radius--radius-xl: 1rem;
    --dark\<deleted\|variable-472742c8\>: #18181b;
    --zinc--400\<deleted\|variable-10ee6bc1\>: #71717a;
    --_base-color-zinc--zinc-500: #71717a;
    --radius--radius-3xl: 1.5rem;
    --text-color--text-white: var(--_base-color-zinc--white);
    --zinc--300\<deleted\|variable-bd442c6e-a866-1012-aa1e-8a46e4b0faa8\>: #a1a1aa;
    --zinc--500\<deleted\|variable-e0b53965-4e18-8a65-2eba-638c28f7b1fe\>: #52525b;
    --background-color--background-tertiary: var(--_base-color-zinc--zinc-100);
    --_base-color-brand--vermillion-100: #ffedd5;
    --background-color--background-alternate: var(--_base-color-zinc--zinc-900);
    --radius--radius-xs: .375rem;
    --gray\<deleted\|variable-f3b7f78f\>: #6d737c;
    --link-color--link-secondary: var(--_base-color-brand--vermillion-900);
    --radius--radius-4xl: 2.5rem;
    --navbar-height: 6rem;
    --border-color--border-secondary: var(--_base-color-zinc--zinc-300);
    --radius--radius-2xl: 1.25rem;
    --_base-color-brand--vermillion-50: #fff6ea;
    --icon-color--icon-secondary: var(--_base-color-zinc--zinc-500);
    --_base-color-brand--vermillion-300: #fed7aa;
    --_base-color-zinc--zinc-600: #52525b;
    --_base-color-accents--pink-500: #ff68de;
    --text-color--text-tertiary: var(--_base-color-zinc--zinc-400);
    --link-color--link-primary: var(--_base-color-zinc--black);
    --variable-animation--radius: 0rem;
    --border-color--border-error: var(--_base-color-accents--pink-700);
    --_base-color-accents--green-700: #26936b;
    --variable-animation--padding: 0rem;
    --_base-color-accents--green-50: #e9f9f3;
    --_base-color-accents--green-100: #a7f3d0;
    --_base-color-accents--green-300: #00fca1;
    --_base-color-accents--green-500: #11c182;
    --_base-color-accents--yellow-50: #fbfbe7;
    --_base-color-accents--yellow-100: #f7ff9d;
    --_base-color-accents--yellow-300: #e8fc00;
    --_base-color-accents--yellow-500: #d7db0e;
    --_base-color-accents--yellow-700: #938700;
    --_base-color-accents--pink-50: #fbf2f9;
    --_base-color-accents--pink-100: #ffddf8;
    --_base-color-accents--pink-300: #ffbef1;
    --_base-color-accents--pink-700: #b90090;
    --_base-color-accents--pink-900: #84004b;
    --background-color--background-success: var(--_base-color-accents--green-50);
    --background-color--background-error: var(--_base-color-accents--pink-50);
    --border-color--border-active: var(--_base-color-zinc--zinc-900);
    --text-color--text-success: var(--_base-color-accents--green-700);
    --text-color--text-error: var(--_base-color-accents--pink-700);
    --link-color--link-alternate: white;
    --radius-3-5xl: var(--radius--radius-4xl);
}

